.checklist-panel.view-mode {
  .checklist-line:not(.checked) {
    display: none;

    .my-icon-button {
      display: none;
    }
  }
}

.checklist-line {
  padding: 2px 2px;

  .checklist-line-inner {
    background-color: var(--chakra-colors-gray-600);

    border-radius: 5px;
    padding: 8px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;

    .checklist-line-left {
      display: flex;
      flex-grow: 1;
      gap: 10px;
      align-items: center;
    }
    .checklist-line-right {
      display: flex;
      gap: 6px;
      align-items: center;
      .icon-button {
        color: var(--chakra-colors-blue-400);
        font-size: 25px;
        cursor: pointer;
        &.icon-button-danger {
          color: var(--chakra-colors-red-400);
        }
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }

  &.moved .checklist-line-inner {
    background-color: var(--chakra-colors-gray-500);
  }
}
