.spin {
  animation-name: spin;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.icon-button {
  color: var(--chakra-colors-blue-400);
  font-size: 25px;
  cursor: pointer;
  &.icon-button-danger {
    color: var(--chakra-colors-red-400);
  }
  &:hover {
    opacity: 0.5;
  }
}
